<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ino.web.freeBoard.mapper.FreeBoardMapper" >
	
	<select id="freeBoardGetList" resultType="ino.web.freeBoard.dto.FreeBoardDto">
		<![CDATA[
		SELECT *
			FROM (
				SELECT
					ROWNUM rn, NUM, TITLE, NAME, TO_CHAR(REGDATE, 'YYYY/MM/DD') REGDATE, CONTENT
				FROM 
					( SELECT NUM, TITLE, NAME, REGDATE, CONTENT
					FROM
						FREEBOARD
						ORDER BY
							NUM DESC
							)
							
		WHERE
            ROWNUM <= #{pageNum, jdbcType=INTEGER} * #{amount, jdbcType=INTEGER}
    )
   		WHERE
        	rn > (#{pageNum, jdbcType=INTEGER} - 1) * #{amount, jdbcType=INTEGER}
    ]]>
	</select>

	<insert id="freeBoardInsertPro" parameterType="freeBoardDto">
		<selectKey keyProperty="num" resultType="int" order="BEFORE">
			SELECT
				FREEBOARDNUM_SEQ.NEXTVAL
			FROM
				DUAL
		</selectKey>
		INSERT INTO
			FREEBOARD(NUM, TITLE, NAME, REGDATE, CONTENT)
		VALUES
			(#{num}, #{title}, #{name}, SYSDATE, #{content})
	</insert>
	
	
	<select id="getTotalCount" resultType="int">
    	SELECT 
    		COUNT(*) 
    	FROM 
    		FREEBOARD 
    	<where>
        	<choose>
            	<when test='type == "title"'>
                	AND TITLE LIKE '%' || #{keyword, jdbcType=VARCHAR} || '%'
            	</when>
            	<when test='type == "name"'>
               		AND NAME LIKE '%' || #{keyword, jdbcType=VARCHAR} || '%'
            	</when>
        	</choose>
    	</where>
	</select>



<select id="searchFreeBoardListByType" resultType="ino.web.freeBoard.dto.FreeBoardDto">
   SELECT 
    *
    FROM (
        SELECT
            ROWNUM rn , NUM, TITLE, NAME, TO_CHAR(REGDATE, 'YYYY/MM/DD') REGDATE, CONTENT
        FROM 
            ( SELECT NUM, TITLE, NAME, REGDATE, CONTENT
            FROM
                FREEBOARD
            WHERE
        <choose>
    	<when test='type == "title"'>
        	TITLE LIKE '%'|| #{keyword, jdbcType=VARCHAR}|| '%'
    	</when>
    	<when test='type == "name"'>
       		NAME LIKE '%' || #{keyword, jdbcType=VARCHAR}|| '%'
    	</when>
		</choose>
                
            ORDER BY
                NUM DESC
    
    )
	<![CDATA[							
		WHERE
            ROWNUM <= #{pageNum, jdbcType=INTEGER} * #{amount, jdbcType=INTEGER}
    )
   		WHERE
        	rn > (#{pageNum, jdbcType=INTEGER} - 1) * #{amount, jdbcType=INTEGER}
    ]]>
</select>

	<select id="freeBoardDetailByNum" resultType="freeBoardDto"
		parameterType="int">
		SELECT 
			*
		FROM 
			FREEBOARD 
		WHERE
				 NUM=#{num}
	</select>

	
	<update id="freeBoardUpdate" parameterType="freeBoardDto">
    UPDATE FREEBOARD
SET
    NAME = #{name},
    CONTENT = #{content},
    REGDATE = SYSDATE
WHERE
    NUM = #{num}
	</update>
	
<delete id="deleteFreeBoard" parameterType="int">
    DELETE 
    FROM 
        FREEBOARD
    WHERE
         NUM = #{num}
</delete>

<update id="decreaseNumAfterDelete" parameterType="int">
    UPDATE FREEBOARD
    SET NUM = NUM - 1
    WHERE NUM > #{num}
</update>

	

</mapper>